.item-edit {
  color: var(--primary);
  border: 1px solid var(--primary);
  border-radius: var(--space-2);
  width: 100px;
  text-align: center;
  cursor: pointer;
  background-color: white;
}

.item-delete {
  color: var(--error);
  border: 1px solid var(--error);
  border-radius: var(--space-2);
  width: 70px;
  text-align: center;
  cursor: pointer;
  background-color: white;
}

.item:first-letter {text-transform:uppercase}
.item {text-transform:lowercase}

.item-title {width: 20%; font-size: 18px; color: rgb(93, 73, 73); }
.item-body {width: 50% ; color: rgb(93, 73, 73); }

