@if (loading) {
<app-loader class=""></app-loader>
}

<div class="p-24">
  <div class="p-12 w-full rounded-lg shadow-[0_3px_10px_rgb(0,0,0,0.2)]">
    <div class="w-full max-w-lg">
      @if (!item?.id) {

      <h2 class="text-2xl font-semibold pb-16 border-b-[1px] mb-4">Posts</h2>
      }
      <div
        class="block mx-6 h-[80px] w-[80px] rounded-full bg-gray-200 border-[5px] border-gray-300"
      ></div>
      <form
        class="bg-white rounded px-8 pt-6 pb-8 mb-4"
        [formGroup]="postForm"
        (ngSubmit)="onSubmit(postForm)"
      >
        <div class="mb-8">
          <label
            class="block text-gray-700 text-sm font-normal mb-2"
            for="title"
          >
            Title
          </label>
          <input
            formControlName="title"
            class="shadow appearance-none border rounded-3xl w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline h-[45px]"
            id="title"
            type="text"
            placeholder="Enter title"
          />
        </div>
        <div class="mb-8">
          <label
            class="block text-gray-700 text-sm font-normal mb-2"
            for="body"
          >
            Body
          </label>
          <textarea
            formControlName="body"
            class="shadow appearance-none border rounded-3xl w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline h-[45px]"
            id="body"
            type="text"
            placeholder="Enter body"
          ></textarea>
        </div>

        <div class="flex items-center justify-between">
          <button [disabled]="postForm.invalid" type="submit">
            <div class="flex">
              @if (item?.id) {
              <p>Update post</p>
              } @else {
              <p>Create post</p>
              }
            </div>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
