@if (loading) {
<app-loader class=""></app-loader>
}

<div>
  <div>
    <div class="w-full max-w-lg">
      @if (!item?.id) {

      <h2>Posts</h2>
      }
      <div></div>
      <form [formGroup]="postForm" (ngSubmit)="onSubmit(postForm)">
        <div class="mb-8">
          <label
            for="title"
            class="block text-gray-700 text-sm font-normal mb-2"
          >
            Title
          </label>
          <input
            formControlName="title"
            id="title"
            type="text"
            placeholder="Enter title"
          />
        </div>
        <div class="mb-8">
          <label
            for="body"
            class="block text-gray-700 text-sm font-normal mb-2"
          >
            Body
          </label>
          <textarea
            formControlName="body"
            id="body"
            type="text"
            placeholder="Enter body"
            rows="5"
          ></textarea>
        </div>

        <div>
          <button [disabled]="postForm.invalid" type="submit">
            <div class="flex">
              @if (item?.id) {
              <p>Update post</p>
              } @else {
              <p>Create post</p>
              }
            </div>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
